In [3]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('blogData_train.csv')

In [5]:
df.shape

(52396, 281)

In [6]:
df.head()

,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0.1,377.0,3.0,...,0.0.229,1.0.1,0.0.230,0.0.231,0.0.232,0.0.233,0.0.234,0.0.235,0.0.236,1.0.2
0,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0
4,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
Y = df.iloc[:,-1]
X = df.iloc[:,:-1]

In [8]:
Y.head()

0     0.0
1     0.0
2     1.0
3    27.0
4     0.0
Name: 1.0.2, dtype: float64

In [9]:
X.head()

,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0.1,377.0,3.0,...,0.0.228,0.0.229,1.0.1,0.0.230,0.0.231,0.0.232,0.0.233,0.0.234,0.0.235,0.0.236
0,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
from sklearn import linear_model
reg = linear_model.LinearRegression(normalize=True)
reg.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [11]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(reg, X, Y, cv=10)
scores.mean()

-1.5883876495539466e+25

In [12]:
df_test = pd.read_csv("blogData_test.csv")

In [13]:
Y_test = df_test.iloc[:,-1]
X_test = df_test.iloc[:,:-1]

In [14]:
Y_predict = reg.predict(X_test)

In [15]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rms = sqrt(mean_squared_error(Y_test, Y_predict))

## RMSE for Linear Regression

In [16]:
rms

40.490581902091876

In [17]:
from sklearn.model_selection import GridSearchCV
import numpy as np

In [18]:
model = linear_model.Ridge()
alphas = np.array([0.1,0.01,0.05,0.07,0.03,0.001,0])
grid = GridSearchCV(estimator=model, param_grid=dict(alpha=alphas))
grid.fit(X, Y)
print(grid)
print(grid.best_score_)
best_alpha = grid.best_estimator_.alpha

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([0.1  , 0.01 , 0.05 , 0.07 , 0.03 , 0.001, 0.   ])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)
0.13733142530875683

In [19]:
best_alpha

0.1

In [20]:
#reg_ridge = linear_model.Ridge(alpha = best_alpha)

## RMSE for Ridge Regression

In [21]:
#reg_ridge.fit(X,Y)
Y_predict = grid.predict(X_test)
from sklearn.metrics import mean_squared_error
from math import sqrt
rms = sqrt(mean_squared_error(Y_test, Y_predict))
rms

40.48845397407073

In [22]:
model = linear_model.Lasso()
param_grid = [
  {'alpha': [0.01,0.01,0.05,0.07,0.03,0.001,0]}
 ]
grid = GridSearchCV(estimator=model, param_grid= param_grid)
grid.fit(X, Y)
print(grid)
print(grid.best_score_)
best_alpha = grid.best_estimator_.alpha

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid=[{'alpha': [0.01, 0.01, 0.05, 0.07, 0.03, 0.001, 0]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)
0.17782507680946405

In [23]:
best_alpha

0.07

## RMSE for Lasso

In [24]:
Y_predict = grid.predict(X_test)
from sklearn.metrics import mean_squared_error
from math import sqrt
rms = sqrt(mean_squared_error(Y_test, Y_predict))
rms

40.63791279960513

In [25]:
a = grid.best_estimator_.coef_

In [26]:
type(a)

numpy.ndarray

## Selected Features from Lasso

In [29]:
for x,y in enumerate(list(a)):
    if y>0:
        print(x+1,y)

1 0.0036972775643631947
2 0.16734742770348668
5 0.022417666141289257
6 0.48049168724536573
11 0.12652439490679887
15 0.24750420667450312
19 0.010903898025197126
20 0.13267638225365572
21 1.06475226506935
22 0.0577329590731068
25 0.2537921897894686
44 0.027959021049169364
48 0.0161745089758711
52 0.20273412401166074
55 0.017794899503798856
57 0.13426851593272476
59 0.054988076020156845
62 0.00013367858341425427
69 1.027213511691529
77 0.042017985215291744
96 0.12639535825982168
158 0.5458956416408414
221 0.006056563952386521
226 0.6843539010483776
248 0.008928231717864075
263 0.39245059073367455
269 0.6758483393689568
280 0.004819231247823325